body {
  background-color: #010165;
  margin: 0px;
}

header {
  background-color: #00ffff;
  text-align: center;
} 

.title-row {
  margin-top: 42px;
  margin-bottom: 21px;
  text-align: center;
}

.instruction-title {
  display: inline;
  font-size: 18px;
  color: #00ffff;
  font-family: 'Work Sans';
}

.door-frame {
  cursor: pointer;
  padding: 10px;
}